@charset "UTF-8";
/* 轮播图 */
.loop-replace-img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.loop-replace-img .imgs {
  width: 100%;
  transition: transform .4s;
}

.loop-replace-img .imgs::after {
  content: '';
  display: block;
  clear: both;
}

.loop-replace-img .imgs li {
  float: left;
}

.loop-replace-img .imgs li img {
  width: 100%;
}

.loop-replace-img .spots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.loop-replace-img .spots li {
  float: left;
  width: 14px;
  height: 14px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.loop-replace-img .spots li.active {
  background: white;
}

.loop-replace-img .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 30px;
  color: white;
}

.loop-replace-img .btn .btn-l, .loop-replace-img .btn .btn-r {
  width: 20px;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  line-height: 30px;
  cursor: pointer;
}

/* 头部 */
header {
  font-size: 14px;
  line-height: 32px;
  border-bottom: 1px solid #ccc;
}

header h1 {
  display: inline-block;
  font-size: 14px;
  font-weight: initial;
}

header .fr span, header .fr a {
  vertical-align: middle;
}

header .fr a {
  font-weight: 700;
  color: #E6A23C;
  font-size: 18px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  header span {
    display: none;
  }
  header .fl a {
    font-size: 14px;
  }
  header .fr a {
    font-size: 18px;
  }
}

.navigation-bar {
  background-image: url("../img/keji2.png");
  background-size: 100%;
  background-color: #404040;
  color: white;
  height: 60px;
  position: relative;
  z-index: 999;
}

.navigation-bar a {
  color: white;
}

.navigation-bar .wrap {
  height: 100%;
}

.navigation-bar .logo {
  height: 100%;
  padding: 5px 0;
  box-sizing: border-box;
}

.navigation-bar .logo img {
  height: 80%;
}

.navigation-bar .nav {
  width: 76%;
  font-size: 16px;
  font-weight: 700;
}

.navigation-bar .nav li {
  text-align: center;
}

.navigation-bar .nav > li {
  float: left;
  line-height: 60px;
  width: calc(100% / 7);
  background: rgba(0, 0, 0, 0.178);
  cursor: pointer;
  position: relative;
}

.navigation-bar .nav > li ul {
  display: none;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.navigation-bar .nav > li ul li {
  width: 100%;
}

.navigation-bar .nav > li ul li:hover {
  background: #0890e1;
}

.navigation-bar .nav > li:hover ul {
  display: block;
}

.navigation-bar .nav > li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.navigation-bar .nav li.active {
  background: #0890e1;
}

.navigation-bar i {
  position: absolute;
  top: 6px;
  right: 20px;
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.navigation-bar .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  padding-top: 60px;
  transform: translateY(-100%);
  transition: transform .4s;
}

.navigation-bar .mask li {
  padding: 0 90px;
  text-align: center;
  line-height: 40px;
}

.navigation-bar .mask li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid;
}

.navigation-bar .mask li.active a {
  background: #0890e1;
}

.navigation-bar .mask i {
  top: 20px;
}

.navigation-bar .mask.active {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .navigation-bar {
    height: 50px;
  }
  .navigation-bar .nav {
    display: none;
  }
  .navigation-bar i {
    display: inline-block;
    font-size: 30px;
    color: white;
  }
}

.img-wrap {
  width: 100%;
}

.img-wrap img {
  width: 100%;
}

footer {
  margin-top: 30px;
  padding: 30px 0;
  background: #737273;
  color: white;
  line-height: 46px;
}

footer a {
  color: #ddd;
}

footer .wrap .title {
  font-weight: 700;
  color: white;
}

footer .wrap > li {
  float: left;
  padding-right: 60px;
}

footer .consult h3 {
  font-size: 1.4rem;
}

footer .consult a {
  color: white;
}

footer .consult span, footer .consult img {
  vertical-align: top;
}

footer .consult img {
  width: 160px;
  margin-top: 8px;
}

footer i, footer span {
  font-weight: 100;
  font-size: 16px;
  color: #ddd;
}

@media (max-width: 768px) {
  .footer {
    line-height: 28px;
  }
  .footer .wrap > li {
    padding-right: 20px;
  }
}

/* 选项卡 */
section.tab {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

section.tab label {
  background: #eee;
  border: 1px solid #ddd;
  padding: .7em 1em;
  cursor: pointer;
  z-index: 1;
  margin-left: -1px;
}

section.tab label:first-of-type {
  margin-left: 0;
}

section.tab div {
  width: 100%;
  margin-top: -1px;
  padding: 1em;
  order: 1;
}

section.tab input[type=radio], section.tab > div {
  display: none;
}

section.tab input[type=radio]:checked + label {
  color: #4385e8;
  background: #fff;
}

section.tab input[type=radio]:checked + label + div {
  display: block;
}

.news-content a {
  color: black;
}

.news-content .list li {
  margin-top: 20px;
}

.news-content .list div {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2);
}
