body, ul, h1, h2, h3, h4, h5, h6, p, pre{
  margin: 0;
}
ul{ padding: 0; list-style: none; }
a { text-decoration: none; }
i { display: inline-block; }
button{
  border: none;
  background: white;
  outline: none;
}
.fl{float: left;}
.fr{float: right;}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.leayer{
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 8px;
  box-sizing: border-box;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
       url('../font/iconfont.woff2') format('woff2'),
       url('../font/iconfont.woff') format('woff'),
       url('../font/iconfont.ttf') format('truetype'),
       url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}