.space{
  .mask{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    transform: translate(-100%, -100%);
    transition: transform .4s;
    backdrop-filter: saturate(180%) blur(10px);
    z-index: 9;
    &.active{
      will-change: transform;
      transform: translate(0);
      .el-icon-close{
        transform: rotate(720deg);
      }
    }
    .wrapper{
      position: absolute;
      left: 50%;
      top: 50%;
      max-width: 95%;
      transform: translate(-50%, -50%);
      img{
        width: 100%;
      }
    }
    .el-icon-close{
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 30px;
      color: white;
      cursor: pointer;
      transition: transform 1.2s linear .4s;
    }
  }
  .wrap{
    ul{
      li{
        float: left;
        width: calc(100% / 3);
        padding: 20px;
        box-sizing: border-box;
        span{
          display: inline-block;
          overflow: hidden;
          position: relative;
          cursor: pointer;
          &::after, &::before{
            content: '';
            position: absolute;
            opacity: 0;
            transition: opacity .4s;
          }
          &::after{
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.4);
          }
          &::before{
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            z-index: 1;
            font-size: 20px;
          }
          &:hover img{
            transform: scale(1.1);
          }
          &:hover::after, &:hover::before{
            opacity: 1;
          }
        }
        &:nth-of-type(1) span::before{ content: '工业园区' }
        &:nth-of-type(2) span::before{ content: '旗帜' }
        &:nth-of-type(3) span::before{ content: '外景' }
        &:nth-of-type(4) span::before{ content: '厂房' }
        &:nth-of-type(5) span::before{ content: '生产空间' }
        img{
          width: 100%;
          transition: transform .6s;
        }
      }
    }
  }
}
@media (max-width: 996px) {
  .space .wrap ul li{
    width: 50%;
  }
}
@media (max-width: 768px) {
  .space .mask .wrapper{
    width: 95%;
  }
}
@media (max-width: 560px) {
  .space .wrap ul li{
    width: 100%;
    padding: 10px;
  }
}